
body {
    text-align: center;
    background-color: aquamarine;
}

.container {
    display: flex;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 100px;
}

.board {
    display: grid;
    flex: 1;
}

.box {
    display: flex;
    border: 1px solid black;
    background-color: white;
    max-width: 100%;
}

footer {
    position: fixed;
    width: 100%;
    background-color: lightcoral;
    left: 0;
    bottom: 0;
    color: white;
}